<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>2020年安徽省银行业网络安全知识竞赛</title>

    <!-- Main css -->
    <link href="css/jingsai.css" rel="stylesheet">
    <script src="js/jquery-3.2.1.min.js"></script>
	<script>		
		$(document).ready(function(){		
			  $("#bd_click").click(function(){
				  window.location.href = "select/1";
			  });
			  $("#qd_click").click(function(){
				  window.location.href = "select/2";
			  });	
			  $("#fx_click").click(function(){
				  window.location.href = "select/3";
			  });	
		});
		
	 </script>
</head>
<body>
    <section>
		<div class="section-title">
		   <div class="cl-yellow">
			   <h2>2020年安徽省银行业网络安全知识竞赛</h2>
		   </div>
        </div>
		<div class="section-content">
			<div class="packages">
				<div class="single-package">
					<img src="images/package/1.png" alt="">
					<h3>必答题</h3>
					<a class="bttn-small btn-fill" id="bd_click">click</a>
				</div>
				<div class="single-package">
					<img src="images/package/2.png" alt="">
					<h3>抢答题</h3>
					<a class="bttn-small btn-fill" id="qd_click">click</a>
				</div>
				<div class="single-package">
					<img src="images/package/3.png" alt="">
					<h3>风险题</h3>
					<a class="bttn-small btn-fill" id="fx_click">click</a>
				</div>
			</div>
        </div>
	</section>
</body>
</html>
